.main-content {
  width: 100%;
  height: 100vh;
  background-color: var(--app-primary-light);

  .head {
    height: 16%;

    div {
      display: flex;
      flex-direction: column;
      padding: 42px 112px;
      align-items: flex-end;

      .label {
        color: var(--app-primary-contrast);
        font-size: 40px;
        padding: 12px;
        background: var(--transparent-1);
      }
  
      .divider {
        width: 52px;
        height: 3px;
        background: var(--app-secondary);
        border: none;
        margin: -13px 112px;
      }
    }

  }

  .content {
    
  }
}

@media screen and (max-width: 900px) {
  .main-content {
    .head {
      height: 10%;
  
      h2 {
        padding-top: 36px;
      }
    }
  
    .content {
      
    }
  }
}