.header-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 54px 102px;
  background: var(--transparent);
  color: var(--app-secondary);

  p {
    font-size: 32px;

    span {
      color: var(--app-primary-contrast);
    }
  }

  .toggle-group {
    height: 58px;
    background: var(--transparent-1);
    box-shadow: none;

    .mat-button-toggle, .mat-button-toggle-checked {
      width: 140px;
      display: flex;
      background-color: var(--transparent);
      color: var(--app-primary-contrast);
    }

    .mat-button-toggle:hover, .mat-button-toggle-checked:hover {
      background: var(--app-secondary-light);
      color: var(--app-primary);
    }
  }
}

@media screen and (max-width: 900px) {
  .header-toolbar {
    padding: 54px 46px;
  }

  .toggle-group {
    display: none;
  }
}