<div class="main-content">
  <div class="bg"></div>

  <div class="content">
    <div class="greetings">
      <label class="hello">Hello, I'm</label>
      <label class="name">
        <div>
          F<span class="white">i</span>rdous<span class="white">.</span>
        </div>
        <div class="name-info">
          <span>
            <span class="white">Yes</span>, just F<span class="white">i</span>rdous<span class="white">.</span>
          </span>
        </div>
      </label>
      <label class="what-am-i">Mobile & Web Developer, Team Player</label>
    </div>

    <img src="../../../assets/myself.png" />
  </div>
</div>